Repository ironknow/chatbot-demo: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-web, eslint-api, typescript-check

eslint-web:
  name: eslint-web
  entry: pnpm --filter web run lint
  language: system
  pass_filenames: false

eslint-api:
  name: eslint-api
  entry: pnpm --filter api run lint
  language: system
  pass_filenames: false

typescript-check:
  name: typescript-check
  entry: pnpm --filter web exec tsc --noEmit
  language: system
  pass_filenames: false

refactor: split services from chatController
  api/src/config/chatConfig.js
  api/src/controllers/chatController.js
  api/src/services/conversationService.js
  api/src/services/flowTrackingService.js
  api/src/services/messageProcessingService.js
Due: eslint-api

refactor: transition to typescript
  .gitignore
  api/.eslintrc.json
  api/package.json
  api/server.ts
  api/src/app.ts
  api/src/config/chatConfig.ts
  api/src/config/database.ts
  api/src/config/groq.ts
  api/src/controllers/chatController.ts
  api/src/lib/prisma.ts
  api/src/routes/chatRoutes.ts
  api/src/routes/index.ts
  api/src/services/conversationService.ts
  api/src/services/flowTrackingService.ts
  api/src/services/groqService.ts
  api/src/services/messageProcessingService.ts
  api/src/services/ragService.ts
  api/src/types/index.ts
  api/tsconfig.json
Due: none

Add markdown rendering support for chat messages
  pnpm-lock.yaml
  web/package.json
  web/src/components/ChatMessage.tsx
  web/src/components/MarkdownRenderer.tsx
  web/src/components/index.ts
  web/src/hooks/useFlowTracking.ts
Due: eslint-web, typescript-check

feat: add web search service
  api/src/services/groqService.ts
  api/src/services/messageProcessingService.ts
  api/src/services/webSearchService.ts
  api/src/types/index.ts
  package.json
Due: none

feat: add processing steps indicator
  api/src/controllers/chatController.ts
  api/src/lib/prisma.ts
  api/src/routes/chatRoutes.ts
  web/src/App.tsx
  web/src/components/ProcessingStepsIndicator.tsx
  web/src/components/index.ts
  web/src/hooks/useChat.ts
  web/src/services/chatService.ts
  web/src/types/index.ts
Due: eslint-web, typescript-check

refactor: remove duplicate calls
  api/src/controllers/chatController.ts
  api/src/services/groqService.ts
Due: none

feat: support attachments in chat
  api/nodemon.json
  api/src/controllers/chatController.ts
  api/src/services/groqService.ts
  api/src/services/messageProcessingService.ts
  web/src/App.tsx
  web/src/components/ChatInput.tsx
  web/src/components/ChatMessage.tsx
  web/src/hooks/useChat.ts
  web/src/services/chatService.ts
  web/src/types/index.ts
Due: eslint-web, typescript-check

refactor: remove unnecessary console logs
  web/src/App.tsx
  web/src/components/ChatInput.tsx
  web/src/components/MarkdownRenderer.tsx
  web/src/hooks/useChat.ts
Due: eslint-web, typescript-check

Path conditions:
  eslint-web: any of: ^web/src/.*\.(js|jsx|ts|tsx)$
  eslint-api: any of: ^api/src/.*\.(js|jsx)$
  typescript-check: any of: ^web/src/.*\.(ts|tsx)$
